@import "tailwindcss";

.active {
  color: #1d53c5;
  background-color: #fff;
}

.panel {
  background: #1d53c5;
  max-width: 370px;
  overflow-y: scroll;
  transition: 0.5s;
  z-index: 200;
}

.panel::-webkit-scrollbar {
  background-color: #1d53c5;
  width: 8px;
}

.panel::-webkit-scrollbar-thumb {
  background-color: #5388f9;
  border-radius: 5px;
}

th {
  text-align: start;
  color: #1d53c5;
  font-weight: 500;
}

input,
textarea {
  outline: none;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
